@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MapsAgo</h1>
    <p class="lead">An enterprise application for managing and collecting data for a Historic mapping application.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Edit and source historic events.
        </p>        
        <p>@Html.ActionLink("Go >>", "Index", "Event", null, new { @class = "btn btn-info" })</p>
    </div>
    <div class="col-md-6">
        <h2>Administration</h2>
        <p>Manage users access and audit their events.</p>
        <p>@Html.ActionLink("Go >>", "Index", "User", null, new { @class = "btn btn-info" })</p>
    </div>
</div>