@model IEnumerable<MapsAgo.Domain.ISearchResult>

<h4>Search Results</h4>
<ul>
    @foreach (var item in Model)
    {
         <li>@Html.ActionLink(item.Name, "Create", "Event", 
                new { mid = item.Id }, null)</li>
    }    
</ul>
